<% content_for :header do %>
  <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="intro-text">
          <span class="name">Hey, I'm Ellie Day.</span>
          <p id="header-intro">I’m a freelance web developer who creates awesome apps that are a joy to use. I'm dedicated to improving the inclusivity and accessibility of tech to <em>all</em> women through education, collaboration, and code.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="<%= organizations_path %>" target="_self" class="btn btn-lg btn-outline">
              <i class="fa fa-email"></i> See what I'm working on
          </a>
      </div>
  </div>
  <style>
  	header {
		    text-align: center;
		    color: #fff;
		    background: url('<%= asset_path('background-heyellieday.jpg')%>') no-repeat center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
  </style>
<% end %>
 <!-- Work/Projects Section -->
 <%= render '/pages/home/what_im_doing' %>

<!-- About Grid Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Advocacy</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 about">
            	<p></p>
                <p>I’m making tech inclusive and accessible to <em>all</em> women through education, collaboration, and code. By teaching and collaborating with under-served women and fostering honest conversations about diversity, I am dedicated towards creating a trans-inclusive tech community for women. Through my contributions to open source software, education and impactful organizations, my skills and dedication create positive change in social issues that I am passionate about.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- More Info Grid Section -->
 <%= render '/pages/home/more_info' %>


<!-- Recognition Grid Section -->
 <%= render '/pages/home/recognition' %>

